.services-container {
  width: 100%;
  gap: 1.5rem;
}

.home-company-container {
  margin-top: 2rem;
  width: 100%;
}

.home-container h1 {
  margin-bottom: 0.7rem;
}

.home-company-container h3 {
  font-size: 1.5rem;
}

.home-container h3 {
  margin: 0;
  font-size: 1.5rem;
}

.services-container {
  text-align: center;
  width: 100%;
}

.home-company-title {
  text-align: center;
}
