.home-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  margin: 0 1rem;
  margin-top: 2rem;
  align-items: center;
}

.home-emp-buttons button {
  /* padding: 1rem; */
  /* font-size: 0.6rem; */
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-container h3 {
  font-weight: 500;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  background-color: #ff7575;
  padding-top: 1rem;
  /* padding: 2
  rem; */
  /* margin: 1rem; */
  border-radius: 1rem;
}
