nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1rem;
}

.side-menu {
  font-size: 1.8rem;
  display: flex;
  gap: 0.8rem;
}

.side-menu img:first-child {
  width: 2.5rem;
  height: auto;
}

.logo {
  width: 13rem;
  height: auto;
}
