nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

nav a {
  color: #565555;
}

nav h1 {
  font-size: 3rem;
}

.side-menu {
  font-size: 1.8rem;
  display: flex;
  gap: 0.8rem;
}

.side-menu img:first-child {
  width: 2rem;
  height: auto;
}

.logo {
  width: 13rem;
  height: auto;
}
