nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0;
  background-color: #ffc62f;
  width: 100%;
}

nav a {
  color: #565555;
}

nav h1 {
  font-size: 3rem;
}

.side-menu {
  font-size: 1.8rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

/* .side-menu img:first-child {
  width: 2rem;
  height: auto;
} */

.logo {
  width: 9rem;
  height: auto;
}
